
main {
	max-width: 1200px;
}

main section.institucion h1{
	display: grid;
	place-items: center;
}
main section.institucion h2 {
	margin-top: 3rem;
}

main section.institucion img {
	width: 30rem;
	height: auto;
	margin: 0 1rem;
	display: inline-block;
}
main section.institucion img:last-of-type {
	width: 25rem;
	height: auto;
	margin: 0 1rem;
	display: inline-block;
}
main section.institucion p {
	text-align: justify;
	margin: 0 1rem;
}
main section.institucion p:first-of-type {
	width: auto;
	max-width: 35rem;
	display: inline-block;
}
main section.institucion p:last-of-type {
	width: auto;
	max-width: 35rem;
}
main section.institucion h1::after {
	content: "";
	background-color: var(--primary);
	height: 0.5rem;
	width: 70%;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	/*margin-right: auto;*/
	display: flex;
}

main section.institucion h2::after {
	content: "";
	background-color: var(--primary);
	height: 0.3rem;
	width: 70%;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	margin-right: auto;
	display: flex;
}

main section.institucion h2:last-of-type::after {
	background-color: var(--light-blue);
}