main section table {
	width: 100%;
}
main section table tr {
	text-align: left;
	padding:0.5rem 0;
}

main section table tr th {
	font-weight: bold;
}
main section table tr:first-child {
	border-bottom: 1px solid black;
}
main section table tr:nth-child(even) {
	background-color: white;
}
main section table tr:nth-child(odd):not(:first-child) {
	background-color: var(--light-dark);
}

main section table tr th, main section table tr td {
	padding: .3rem 0;
}

main section table tr td:last-child{
	text-align: right;
}
main section ul {
	list-style: disc;
	margin: .6rem 0;
	padding-left: 1.5rem;
}
main section table {
	margin: .5rem 0;
}