main section {
	text-align: center;
}
main section h2 {
	text-align: left;
}
main section form {
	display: inline-block;
	text-align: center;
	margin:.8rem 0;
}
main section form label {
	text-align: left;
	display: block;
}
main section form > input{
	margin: 0 auto;
	display: block;
	margin: .7rem auto;
}

@media screen and (max-width: 650px) {
	main section form {
		width: 100%;
		padding: 1rem;
		box-sizing: border-box;
	}
	main section form input {
		width: 100%;
	}
}