main section {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	padding: 1.5rem 0;
	justify-content: center;
}
main section h2 {
	width: 100%;
}
main section article.novedad {
	box-shadow: 1px 1px 3px 0px #0000004f;
}

main section ul.paginacion {
	width: 100%;
}