main section form {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}
main section form fieldset {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: .5rem;
}
main section form fieldset > label {
	place-self: center start;
}
main section form fieldset legend {
	grid-column: 1 / -1;
	font-weight: bold;
	font-size: 1.3rem;
}

main section form fieldset:last-child {
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	gap: 4rem;
}

button, input[type="submit"] {
	width: 10rem;
}

main section form fieldset button {
	background-color: var(--secondary);
}

@media screen and (max-width: 650px) {
	main section {
		min-height: 40rem;
	}
	main section form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1rem;
		gap: 1.5rem;
	}
	main section form fieldset {
		grid-template-columns: 1fr;
	}
	main section form fieldset legend {
		margin-bottom: 0.5rem;
	}

	main section form fieldset >*:not(legend) {
		margin: 0 0.2rem;
	}
	main section form fieldset > label {
		place-self: start;
		margin-top: 1rem;
	}
	main section form fieldset button {
		width: 8rem;
		height: 2rem;
		margin-right: auto;
	}
	main section form fieldset>input[type="submit"] {
		width: 8rem;
		height: 2rem;
	}
}